<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.2.xsd
">

    <!-- 扫描web相关的bean -->
    <context:component-scan base-package="com.stark.*.*.controller"/>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>




    <!-- 以下 validator ConversionService 在使用 mvc:annotation-driven 会 自动注册 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
    </bean>




    <!-- 配置日期转换 -->
    <mvc:annotation-driven conversion-service="conversionService" validator="validator">
        <mvc:message-converters>
            <ref bean="byteArrayHttpMessageConverter" />
            <ref bean="jackson2HttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="defaultDateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
    </bean>
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <!-- 定义全局日期类型的格式化样式 -->
        <property name="dateFormat" ref="defaultDateFormat" />
        <!-- 序列化时，include规则为：不包含为空字符串，空集合，空数组或null的属性 -->
        <property name="serializationInclusion" value="NON_EMPTY"/>
    </bean>

    <bean id="byteArrayHttpMessageConverter" class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />

    <!-- BEGIN 配置Jackson，Spring与Jackson进行整合 -->
    <bean id="jackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>*/*;charset=UTF-8</value>
            </list>
        </property>
        <property name="objectMapper" ref="objectMapper" />
    </bean>

    <!-- 注册转换器 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!-- BEGIN 日期，时间转换 -->
                <bean class="com.stark.pub.spring.convert.DateConverter" />
                <bean class="com.stark.pub.spring.convert.TimestampConverter" />
                <!-- END 日期，时间转换 -->
            </set>
        </property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="10240000" />
    </bean>

    <!-- 页面访问目录 -->
    <!-- 配置jsp 显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/views/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>
    <!-- task任务扫描注解 -->
    <task:annotation-driven/>
    <!-- 定时器 -->
    <context:component-scan base-package="com.stark.task"></context:component-scan>

</beans>